@import '../../scss/variables';

.Login {
  .wrap-login {
    background: #1976d2;
    height: 100vh;
    width: 100%;
    display: flex;
  }
  .card {
    width: 60%;
    margin: auto;
  }
  .wrap-header {
    background: black;
  }
  .row {
    .wrap-logo {
      background-color: black;
    }
    &.wrap-button {
      align-self: baseline;
      align-content: initial;
      padding-top: 30px;
      flex-direction: column;
    }
    .col {
      font-family: 'Roboto',arial,sans-serif;
      color: black;
      padding-bottom: 15px;
      text-align: center;
    }
  }
  
}
