@import '../../scss/variables';

.googleModule {
  .google-button {
    height: 40px;
    background-color: white;
  }
  .google-button .google-button__text {
    color: #737373;
  }
  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0 6px 0px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }
  .google-button__icon--plus {
    width: 27px;
  }
  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", arial, sans-serif;
  }
  .row-images ion-col ion-img {
    width: 50px;
    margin: auto;
  }
}