@import '../../scss/variables';

.Users {
  height: 100vh;
  padding-top: 30px;
  background: linear-gradient(145deg, transparent 60%, rgba(0, 0, 0, 0.1) 40%);

  h1 {
    font-size: 4rem;
    color: $danger;
    font-weight: 700;
  }

  .row {
    width: 100%;
    .col {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}