.FileUpload {
  background: white;
  padding: 10px;
  border-radius: 20px;
  margin-top: .5rem;
  margin-bottom: .5rem;

  .comment-date {
    font-size: .85rem;
    font-weight: 700;
    letter-spacing: .8pt;
    color: grey;
  }

  img {
    border-radius: 50%;
  }
}